* To change this license header, choose License Headers in Project Properties. To change this template file, choose Tools | Templates and open the template in the editor. */
/*
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: helvetica;
}

body {
    overflow-x: hidden;
}

#mainNav {
    height: 78px;
    background-color: #0b5ba1;
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#mainSlider {
    height: 360px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

#mainSlider img {
    height: 370px;
    top: 0px;
    width: auto;
    left: -287.5px;
}

#LogoLogin {
    text-align: center;
    margin-left: 10px;
    font-weight: 800;
    color: #eee;
    cursor: pointer;
}

#LogoLogin a {
    text-decoration: none;
    color: #eee;
}

#ciudades, #cines, #filtroCartelera {
    margin-left: 40px;
}

#filtroCartelera button {
    color: #000;
    font-weight: 900;
}

select.soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.separador {
    background-color: #0b5ba1;
    padding: 5px;
    color: white;
    font-size: 115%;
    width: 365px;
}

#moviesContainer {
    padding: 15px;
    background-color: white;
}

.movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 15px 0px;
}

.movie {
    width: 139px;
    height: 203px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 15px 15px 0px 0px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.movie .title {
    width: inherit;
    position: absolute;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: #0b5ba1;
}

.menu {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
}

.desplegableMenu {
    font-size: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    color: black;
}

.redesMenu {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    color: white;
}

.imgRedes {
    width: 5%;
    height: 5%;
    padding: 0.5%;
}

.footer {
    display: flex;
    justify-content: space-around;
    ;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    background-color: #252525;
    color: white;
}

.catalogoPeliculas {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.seccionPais {
    padding: 2em;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.bigBtn {
    padding: 10px;
    width: 20%;
    height: 20%;
    margin-top: 2%;
    font-size: 100%;
    border-style: solid;
    border-radius: 5px;
    background-color: #F2F1F1;
    border-width: thin;
}

#registro {
    margin: 3%;
}

#iniciarSesion {
    padding: 5%;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: #060b29;
}

#iniciarSesion h2 {
    margin: 0%;
    color: white;
}

.texto {
    color: white;
    text-align: center;
}

#baner {
    width: 100%;
    height: 400px;
    background-image: url(https://cinepolis.com/club-cinepolis-afiliacion/img/share-beneficios.jpg);
    flex-basis: 60%;
    background-size: cover;
}

#parteInferior {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column no-wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#registro {
    flex-basis: 40%;
}

.timepicker-picker table tr td {
    text-align: center !important;
}
