*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: helvetica;
}

body{
	overflow-x: hidden;
}

h1{
	font-size: 2em;
	color:  #0f5da5;
	font-family: sans-serif;
	font-weight: bolder;

}

h2{
	font-size: 1.5em;
	color:  #0f5da5;
	font-family: sans-serif;
	font-weight: bolder;

}

h3{
	font-size: 1.2em;
	color: #566165;
	font-family: sans-serif;
	font-weight: inherit;
	margin: 0em;
	padding: 0.15em;

}


#mainNav{
	width: 100%;
	height: 78px;
	background-color: #0b5ba1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;

}

#mainSlider{
	height: 360px;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
}

#mainSlider img{

height: 370px;
top: 0px;
width: auto;
left: -287.5px;
}


#LogoLogin{

text-align: center;
margin-left:10px ;
font-weight: 800;
color: #eee;
cursor: pointer;

}


#LogoLogin a{
text-decoration: none;
color: #eee;

}

#ciudades,#cines,#filtroCartelera{
	margin-left: 40px;

}


#filtroCartelera button{
color: #000;
font-weight: 900;

}


select.soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}



.separador{
	background-color: #0b5ba1;
	padding: 5px;
	color: white;
	font-size: 115%;
	width: 365px;
}

.separador2{
	    border-radius: 10px 10px 0px 0px;
	background-color: #0b5ba1;
	color: white;
	font-size: 115%;
	width: 100%;
}

.separadorFuncion{

	background-color: #0b5ba1;
	color: white;
	font-size: 115%;
	width: 100%;
}

.separador{
	background-color: #0b5ba1;
	padding: 5px;
	color: white;
	font-size: 115%;
	width: 365px;
}


.moviesContainer{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: white;
}


.contenedorInicial{
	width: 60%;
	justify-content: flex-start;
	align-self: center;

}


.contenedorCentro{
	width: 60%;
	justify-content: center;
	align-self: center;

}
.movies{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 15px 0px;
}

.peliFuncion{
	    border-radius: 10px 10px 0px 0px;
	border-color: #e1e3e6;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border-style: solid;
    border-width: 1px;
}

.listaFuncion{
	    border-radius: 0px 0px 10px 10px;
	border-color: #e1e3e6;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border-style: solid;
    border-width: 1px;
		margin-top: -1%;
}

.contenedorPeli{
	border-top-color: #636a84;
	 /* border-radius: 10px; */
	 width: 100%;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
	 align-content: flex-start;
	 border-style: ridge;
	 border-width: 1px;
}
.contenedorPeli2{
	border-top-color: #636a84;
	 /* border-radius: 10px; */
	 width: 50%;
	 display: flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
	 align-content: flex-start;
	 border-style: ridge;
	 border-width: 1px;
}

.infoPeli{
	    flex-basis: 72%;
    margin: 25px;
	 border-radius: 10px;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: flex-start;
}
.reservarBoton{
 margin-top: 2%;
 border-radius: 10px;
 width: 100%;
 display: flex;
 justify-content: center;;
 align-content: center;;
}

.separador2 h4{
	padding:5px;
	padding-left: 15px;
}

.separadorFuncion h4{
	padding:5px;
	padding-left: 15px;
}
.pelicula{
	width: 205px;
height: 340px;
	background-color: rgba(0,0,0,0.8);
	margin: 25px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;

	background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.movie{
	width: 139px;
	height: 203px;
	background-color: rgba(0,0,0,0.8);
	margin: 15px 15px 0px 0px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;

	background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.movie .title{
	width: inherit;
	    position: absolute;
	    text-align: center;
			font-weight: 700;
	    color: white;
	    background-color: #0b5ba1;

}

.menu{
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
background-color: #252525;
}

.desplegableMenu{
	    font-size: 100%;
			padding: 1%;
	display: flex;
	justify-content: center;
	align-self: center;
	width: 50%;
	color: #feca30;
}

.redesMenu{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	color: white;
}

.imgRedes{
	width: 5%;
	height: 5%;
	padding: 0.5%;
}

.footer{
	display: flex;
	justify-content: space-around;;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	background-color: #252525;
	color: #feca30;

}
.catalogoPeliculas{
	flex-basis: 30%;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.seccionPais{
flex-basis: 30%;
	padding: 2em;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.bigBtn{
  padding: 10px;
  width: 100%;
  height: 20%;
  margin-top: 2%;
  font-size: 100%;
  border-style: solid;
      border-radius: 5px;
      background-color: #F2F1F1;
      border-width: thin;
}

.bigBtn2{
  padding: 10px;
  width: 100%;
  height: 30%;
  margin-top: 2%;
  font-size: 100%;
  border-style: solid;
      border-radius: 5px;
			background-color: #0b5ba1;
	    border-width: thin;
	    font-size: 17px;
	    color: white;
}

#registro{

	margin: 3%;
}

#iniciarSesion{

	    padding: 5%;

    text-align: center;
		width: 100%;
		height: 400px;
		background-color: #060b29;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;

}
#iniciarSesionUser{



	    padding: 5%;

    text-align: center;
		width: 100%;
		height: 200px;
		background-image: url("../assets/images/userbanner.jpg");
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row nowrap;

}

#sesion{
	    width: 20%;
	    padding: 2%;

    text-align: center;

		background-color: #060b29;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;

}


#miPerfil{

	height:440px;
	width: 440px;

	    padding: 2%;

}



#iniciarSesion h2{

  margin: 0%;
	color: white;


}
.texto{
		color: white;
	text-align: center;

}
.info{
	background-color: white;
	 opacity: 0.5;
	flex-basis: 30%;
		color: white;
	display: flex;
    justify-content: center;
    align-items: left;
    flex-flow: column nowrap;
    /* width: 100%; */
    text-align: left;
		padding-left: 2%;
padding-bottom: 2%;

}
#reserva {
}

#reserva h1{

	 border-color: #59A9C2;  border-style: solid;  border-width: 0px 0px 0px 0px;

	   /* border-bottom: 4px solid #222;*/
	    color: #FFFFFF;
	    font-size: 3em;
	    font-weight: 700;
	    padding: 10px;
			text-align: center;
}

.reservaInfo{
	padding: 3%;

	width: 100%;
	height: 500px;
	background-color: white;
}
.datosUser{

	color: black;
	margin: 2px;
	font-size: 17px;

}
.datosPeli2{
	text-align: center;
	padding: 0em 0em 0em 1em;

	color: black;
	font-size: 17px;
	font-weight: normal;

}
.datosPeli{

		text-align: center;
	display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
	font-weight: bold;

	color: #0B5BA1;
	font-size: 17px;

}
.foto {
	flex-basis: 20%;

width: 100%;
	text-align:center;

}
.foto img{
	height:70%;
	width: 70%;
		color: blue;
	text-align: center;

}

#baner{

	width: 100%;
	height: 400px;
	background-image:url(https://cinepolis.com/club-cinepolis-afiliacion/img/share-beneficios.jpg);
	flex-basis: 60%;
	background-size: cover;

}

#parteInferior{

	width: 100%;
	height: 100%;
	display: flex;
	flex-flow:column no-wrap;
	padding: 5px;
	justify-content: center;
	align-items:center;

}

#registro{

	flex-basis: 30%;
}

/*new css */

.formularioColumna{
	display:flex;
	justify-content:center;
	flex-flow: row nowrap;
	margin-right: 1em;
}

#logoCinepolis:hover{
	cursor: pointer;

}

#loginButton{
	display: flex;
	justify-content: center;
	width: 80%;
	font-size: 1em;
	background-color: #0f5492;
}

#loginButton:hover{
	background-color: black;
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	cursor: pointer;
}

#mainNav{
	height: 78px;
	background-color: #0b5ba1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainSlider, #mainSliderB{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	/*background-color: blue;*/
	width: 100% !important;
	height: 70%;
	background-image: url("../assets/images/loganParallax.jpg");
}

#mainSliderB{
	background-image: url("../assets/images/blur.jpg");
	display: flex;
	justify-content: center;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	max-height: 50%;
	background-color: #0b5ba1;
}

nav{
	display: flex;
	flex-flow:  row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	align-self: center;
}

.contenedorLogo{
	display: flex;
	justify-content: flex-end;;
	align-items: flex-end;;
	align-content: flex-end;
	align-self: flex-end;
	width: 90%;
}

.imgLogo img{
	width: 50%;
}

#logoCinepolis:hover{
	cursor: pointer;

}

img{
	width: 50%;
}


.contenedorFull{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.contenedorCentradoR{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

/* EStilo Select*/

select{
	padding: 0.5em;
	font-size: 1em;
	color:#8e9398;
	width: 40%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 28px none #000000;
}

select:hover{
	cursor: pointer;
}
option{
	text-align: center;
}

.formularioColumna{
	display:flex;
	justify-content:center;
	flex-flow: row nowrap;
	margin-right: 1em;
}

/* session del cliente */

.clientInfo{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row nowrap;
	width: 80%;
	height: 90%;
	position: relative;
	color: black;
	align-self: center;
	padding: 2em;
}

.cajita{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	width: 20%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	position: relative;
	color: black;
	align-self: center;
	padding: 1em 2em 1em 2em;

}

.puntos{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-flow: row nowrap;
	height: 20%;
}



#mainNav{
	height: 78px;
	background-color: #0b5ba1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainSlider, #mainSliderB{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	/*background-color: blue;*/
	width: 100% !important;
	height: 70%;
	background-image: url("../assets/images/loganParallax.jpg");
}

#mainSliderB{
	background-image: url("../assets/images/blur.jpg");
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}
.separador{
	background-color: #0b5ba1;
	padding: 5px;
	color: white;
	font-size: 115%;
	width: 365px;
}

.moviesContainer{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-color: white;
}

#moviesContainer{
	padding: 15px;
	background-color: white;
}


.contenedorInicial{
	width: 60%;
	justify-content: flex-start;
	align-self: center;

}

.contenedorCentro{
	width: 60%;
	justify-content: center;
	align-self: center;

}

.movies{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 15px 0px;
}

.movie{
	width: 139px;
	height: 203px;
	background-color: rgba(0,0,0,0.8);
	margin: 15px 15px 0px 0px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
}

movieInfo{
	position: absolute;
	width: 139px;
	height: 203px;
	background-color: rgb(0,0,0);
	cursor: pointer;
	display: flex;
	visibility: visible;
	opacity:0;
	color: white;
	filter:alpha(opacity=0.8);
	flex-flow: column nowrap;
	align-self: center;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	z-index: 1000;
}

.infoPelicula{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	width: 40%;
	text-align: justify;

}

.movie-accions-a{
	text-decoration: none;
	color: #FFFFF7;
}
.movie-accions-a:hover{
	text-decoration: none;
	color: #FEC606;
}

.movie .title{
	background-color: rgba(0,0,0,0.8);
	padding: 0.2em 0.5em 0em 0.5em;
	border-radius: 0.5em 0.5em 0em 0em;
	position: absolute;
	color: #FFFFF7;

}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	max-height: 50%;
	background-color: #0b5ba1;
}

nav{
	display: flex;
	flex-flow:  row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	align-self: center;
}

.contenedorLogo{
	display: flex;
	justify-content: flex-end;;
	align-items: flex-end;;
	align-content: flex-end;
	align-self: flex-end;
	width: 90%;
}

.imgLogo img{
	width: 90%;
}

#logoCinepolis:hover{
	cursor: pointer;

}

img{
	width: 60%;
}

.menu{
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	background-color: #252525;
}

.desplegableMenu{
	display: flex;
	justify-content: center;
	align-self: center;
	width: 50%;
	color: white;
}

.redesMenu{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	color: white;
}

.imgRedes{
	width: 5%;
	height: 5%;
	padding: 0.5%;
}

.footer{
	display: flex;
	justify-content: space-around;;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	background-color: #252525;
	color: white;

}
.catalogoPeliculas{
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

.seccionPais{
	padding: 2em;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}


/*** CSSSS para login Usuario ***/

#loginButton{
	display: flex;
	justify-content: center;
	width: 80%;
	font-size: 1em;
	background-color: #0f5492;
}

#loginButton:hover{
	background-color: black;
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
	cursor: pointer;
}

/* CSSS usuarioss */

.contenedorFull{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.contenedorCentradoR{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

/* EStilo Select*/

select{
	padding: 0.5em;
	font-size: 1em;
	color:#8e9398;
	width: 80%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 28px none #000000;
}

select:hover{
	cursor: pointer;
}
option{
	text-align: center;
}

.formularioColumna{
	display:flex;
	justify-content:center;
	flex-flow: row nowrap;
	margin-right: 1em;
}

/* session del cliente */

.clientInfo{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row nowrap;
	width: 80%;
	height: 90%;
	position: relative;
	color: black;
	align-self: center;
	padding: 2em;
}

.cajita{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	width: 20%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	position: relative;
	color: black;
	align-self: center;
	padding: 0em 2em 0em 2em;

}

.puntos{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-flow: row nowrap;
	height: 20%;
}




 *[hidden] { display: none; }
